{% extends "base.html.twig" %}

{% block content %}
    <h1 style="color: #333333;">Actualizacion de perfil {{ username }}!</h1>
    <div style="text-align: center; margin: 20px 0;">
        <img src="{{ userAvatar }}" alt="User Avatar" width="100" style="border-radius: 50%;">
    </div>
    <p style="color: #666666;">Tu perfil ha sido actualizado correctamente con la información que has introducido</p>
    <p style="color: #666666;">No dudes en comprobar los cambios por si estos no son correctos</p>
    <p style="color: #666666;">¡Diviértete construyendo!</p>
{% endblock %}