{% extends "base.html.twig" %}

{% block content %}
    <h1 style="color: #333333;">¡Bienvenido, {{ username }}!</h1>
    <div style="text-align: center; margin: 20px 0;">
        <img src="{{ userAvatar }}" alt="User Avatar" width="100" style="border-radius: 50%;">
    </div>
    <p style="color: #666666;">Gracias por unirte a nuestra comunidad de amantes de Lego. Estamos emocionados de tenerte con nosotros.</p>
    <p style="color: #666666;">No dudes en explorar nuestra tienda de piezas de Lego y participar en las discusiones del foro.</p>
    <p style="color: #666666;">¡Diviértete construyendo!</p>
{% endblock %}
